/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Open Sans"
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field {
    margin: 10px 0;
}

.field-header {
    width: 150px;
}