/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-size: 25px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.field {
    margin: 20px 0;
}

.field-header {
    margin-bottom: 3px;
}

.field-input {
    font-size: 15px;
    border: 0.5px solid #5d5d5d;
    border-radius: 10px;
    padding: 5px;
}

.text-input {
    resize: none;
    width: 100%;
    height: 200px;
}

.num-words-display {
    font-size: 20px;
}