/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Open Sans"
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field {
    margin: 20px 0;
}

.field-header {
    width: 150px;
    margin-bottom: 3px;
}

.field-entry {
    border-radius: 10px;
    border: 0.5px solid #5d5d5d;
    padding: 5px;
}

.text-entry {
    resize: none;
}